name: AppleClang

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # AppleClang 15.0.0 ARM64
        - xcode_ver: '15.4'
          macos_ver: '14'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'

        # AppleClang 16.0.0 ARM64
        - xcode_ver: '16.2'
          macos_ver: '14'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'

        # AppleClang 17.0.0 ARM64
        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++14 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++23 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Debug'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15'
          build_type: 'Debug'
          test_libcxx20: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'

        # AppleClang 17.0.0 x64
        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++14 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++23 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Debug'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '16.4'
          macos_ver: '15-intel'
          build_type: 'Debug'
          test_libcxx20: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'

    runs-on: macos-${{ matrix.macos_ver }}

    steps:
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ matrix.xcode_ver }}
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: brew install ninja
    - name: Build
      env:
        CXX: clang++
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DMOMO_TEST_LIBCXX20=${{ matrix.test_libcxx20 }} -DMOMO_TEST_EXTRA=${{ matrix.test_extra }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test
