name: AppleClang

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # AppleClang 17.0.0 ARM64
        - xcode_ver: '26.2'
          macos_ver: '26'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++23 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '26'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '26'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '26'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '26'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'On'
          flags: '-std=c++26 -Werror'

        # AppleClang 17.0.0 x64
        - xcode_ver: '26.2'
          macos_ver: '15-intel'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++23 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '15-intel'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '15-intel'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '15-intel'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'

        - xcode_ver: '26.2'
          macos_ver: '15-intel'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'On'
          flags: '-std=c++26 -Werror'

    runs-on: macos-${{ matrix.macos_ver }}

    steps:
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ matrix.xcode_ver }}
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: brew install ninja
    - name: Build
      env:
        CXX: clang++
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DMOMO_TEST_NO_EXCEPTIONS_RTTI=${{ matrix.no_exceptions_rtti }} \
          -DMOMO_TEST_EXTRA_SETTINGS=${{ matrix.extra_settings }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test
