name: GCC

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # x64
        - gcc_ver: '5'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11 -Werror -Wno-unused-variable'
          cont_ver: '18.04'

        - gcc_ver: '5'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'On'
          flags: '-std=c++11 -Werror -Wno-unused-variable'
          cont_ver: '18.04'

        - gcc_ver: '5'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++14 -Werror -Wno-unused-variable'
          cont_ver: '18.04'

        - gcc_ver: '6'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '18.04'

        - gcc_ver: '7'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror -DLIBCPP_DISABLE_TEST_DEDUCTION_GUIDES'
          cont_ver: '20.04'

        - gcc_ver: '8'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '20.04'

        - gcc_ver: '9'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '10'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '11'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23'
          cont_ver: '24.04'

        - gcc_ver: '12'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23'
          cont_ver: '24.04'

        - gcc_ver: '13'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++14'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Debug'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Debug'
          test_libcxx_new: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        # ARM64
        - gcc_ver: '5'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11 -Werror -Wno-unused-variable'
          cont_ver: '18.04'

        - gcc_ver: '5'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'On'
          flags: '-std=c++11 -Werror -Wno-unused-variable'
          cont_ver: '18.04'

        - gcc_ver: '5'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++14 -Werror -Wno-unused-variable'
          cont_ver: '18.04'

        - gcc_ver: '6'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '18.04'

        - gcc_ver: '7'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror -DLIBCPP_DISABLE_TEST_DEDUCTION_GUIDES'
          cont_ver: '20.04'

        - gcc_ver: '8'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '20.04'

        - gcc_ver: '9'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '10'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '11'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23'
          cont_ver: '24.04'

        - gcc_ver: '12'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23'
          cont_ver: '24.04'

        - gcc_ver: '13'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++14'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++17 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++20 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Debug'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Debug'
          test_libcxx_new: 'On'
          test_extra: 'On'
          flags: '-std=c++26 -Werror'
          cont_ver: '24.04'

    runs-on: ubuntu-${{ matrix.ubuntu_ver }}
    container: ubuntu:${{ matrix.cont_ver }}

    steps:
    - name: Install tools
      run: |
        apt-get update
        apt-get install -y cmake
        apt-get install -y ninja-build
    - name: Checkout
      if: matrix.cont_ver != '18.04'
      uses: actions/checkout@v4
    - name: Checkout 18.04
      if: matrix.cont_ver == '18.04'
      run: |
        apt-get install -y git
        git clone --depth=1 https://github.com/${{ github.repository }} .
    - name: Install GCC
      run: apt-get install -y g++-${{ matrix.gcc_ver }}
    - name: Build
      env:
        CXX: g++-${{ matrix.gcc_ver }}
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCMAKE_VERBOSE_MAKEFILE=On \
          -DMOMO_TEST_LIBCXX_NEW=${{ matrix.test_libcxx_new }} -DMOMO_TEST_EXTRA=${{ matrix.test_extra }}
        cmake --build .
    - name: Test
      run: test/build/momo_test
