name: GCC

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # x64
        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++23 -Werror'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '-std=c++23 -Werror'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Werror'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '-std=c++26 -Werror'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Werror'

        - gcc_ver: '14'
          ubuntu_ver: '24.04'
          build_type: 'Debug'
          no_exceptions_rtti: 'On'
          flags: '-std=c++26 -Werror'

        # ARM64
        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++23 -Werror -Wno-psabi'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '-std=c++23 -Werror -Wno-psabi'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Werror -Wno-psabi'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '-std=c++26 -Werror -Wno-psabi'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Werror -Wno-psabi'

        - gcc_ver: '14'
          ubuntu_ver: '24.04-arm'
          build_type: 'Debug'
          no_exceptions_rtti: 'On'
          flags: '-std=c++26 -Werror -Wno-psabi'

    runs-on: ubuntu-${{ matrix.ubuntu_ver }}

    steps:
#    - name: Increase swapfile
#      run: |
#        sudo swapoff -a
#        sudo fallocate -l 15G /swapfile
#        sudo chmod 600 /swapfile
#        sudo mkswap /swapfile
#        sudo swapon /swapfile
#        sudo swapon --show
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: sudo apt install ninja-build
    - name: Install GCC
      run: sudo apt install g++-${{ matrix.gcc_ver }}
    - name: Build
      env:
        CXX: g++-${{ matrix.gcc_ver }}
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DMOMO_TEST_NO_EXCEPTIONS_RTTI=${{ matrix.no_exceptions_rtti }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test
