name: macOS GCC

on: [push, pull_request]

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # ARM64
#        - gcc_ver: '15'
#          macos_ver: '15'
#          build_type: 'Release'
#          no_exceptions_rtti: 'Off'
#          flags: '-std=c++23 -Werror -Wno-psabi'
#          path_prefix: '/opt/homebrew'

        - gcc_ver: '15'
          macos_ver: '15'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Wno-psabi'
          path_prefix: '/opt/homebrew'

        - gcc_ver: '15'
          macos_ver: '15'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Werror -Wno-psabi'
          path_prefix: '/opt/homebrew'

        # x64
#        - gcc_ver: '15'
#          macos_ver: '15-intel'
#          build_type: 'Release'
#          no_exceptions_rtti: 'Off'
#          flags: '-std=c++23'
#          path_prefix: '/usr/local'

        - gcc_ver: '15'
          macos_ver: '15-intel'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26'
          path_prefix: '/usr/local'

        - gcc_ver: '15'
          macos_ver: '15-intel'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/usr/local'

    runs-on: macos-${{ matrix.macos_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: brew install ninja
    - name: Install GCC
      run: brew install gcc@${{ matrix.gcc_ver }}
    - name: Build
      env:
        CXX: ${{ matrix.path_prefix }}/opt/gcc@${{ matrix.gcc_ver }}/bin/g++-${{ matrix.gcc_ver }}
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DMOMO_TEST_NO_EXCEPTIONS_RTTI=${{ matrix.no_exceptions_rtti }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test
