name: macOS Clang

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # ARM64
        - clang_ver: '19'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++11 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++14 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++17 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++20 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++23 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/opt/homebrew'

        - clang_ver: '20'
          macos_ver: '15'
          build_type: 'Debug'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror -fsanitize=address,undefined'
          path_prefix: '/opt/homebrew'

        # x64
        - clang_ver: '19'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++11 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++14 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '-std=c++17 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++20 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++23 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/usr/local'

        - clang_ver: '20'
          macos_ver: '15-intel'
          build_type: 'Debug'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '-std=c++26 -Werror -fsanitize=address,undefined'
          path_prefix: '/usr/local'

    runs-on: macos-${{ matrix.macos_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: brew install ninja
    - name: Install Clang
      run: brew install llvm@${{ matrix.clang_ver }}
    - name: Build
      env:
        CXX: ${{ matrix.path_prefix }}/opt/llvm@${{ matrix.clang_ver }}/bin/clang++
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DMOMO_TEST_LIBCXX20=${{ matrix.test_libcxx20 }} \
          -DMOMO_TEST_EXTRA_SETTINGS=${{ matrix.extra_settings }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test
