name: macOS GCC

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # ARM64
        - gcc_ver: '15'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11'
          path_prefix: '/opt/homebrew'

        - gcc_ver: '15'
          macos_ver: '15'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/opt/homebrew'

#        - gcc_ver: '15'
#          macos_ver: '15'
#          build_type: 'Debug'
#          test_libcxx20: 'On'
#          test_extra: 'Off'
#          flags: '-std=c++26 -Werror'
#          path_prefix: '/opt/homebrew'

        # x64
        - gcc_ver: '15'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11'
          path_prefix: '/usr/local'

        - gcc_ver: '15'
          macos_ver: '15-intel'
          build_type: 'Release'
          test_libcxx20: 'On'
          test_extra: 'Off'
          flags: '-std=c++26 -Werror'
          path_prefix: '/usr/local'

#        - gcc_ver: '15'
#          macos_ver: '15-intel'
#          build_type: 'Debug'
#          test_libcxx20: 'On'
#          test_extra: 'Off'
#          flags: '-std=c++26 -Werror'
#          path_prefix: '/usr/local'

    runs-on: macos-${{ matrix.macos_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: brew install ninja
    - name: Install GCC
      run: brew install gcc@${{ matrix.gcc_ver }}
    - name: Build
      env:
        CXX: ${{ matrix.path_prefix }}/opt/gcc@${{ matrix.gcc_ver }}/bin/g++-${{ matrix.gcc_ver }}
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DMOMO_TEST_LIBCXX20=${{ matrix.test_libcxx20 }} \
          -DMOMO_TEST_EXTRA=${{ matrix.test_extra }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test
