name: MinGW

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # GNU 12
        - win_ver: '2022'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          test_extra: 'Off'
          flags: '-std=c++11'

        - win_ver: '2022'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++23'

        # GNU 14
        - win_ver: '2025'
          build_type: 'Release'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++26'

        - win_ver: '2025'
          build_type: 'Debug'
          test_libcxx_new: 'On'
          test_extra: 'Off'
          flags: '-std=c++26'

    runs-on: windows-${{ matrix.win_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: choco install ninja
    - name: Build
      env:
        CXX: g++
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
          -DMOMO_TEST_LIBCXX_NEW=${{ matrix.test_libcxx_new }} -DMOMO_TEST_EXTRA=${{ matrix.test_extra }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test.exe
