name: MSVC Clang

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        - win_ver: '2025'
          build_type: 'Release'
          test_libcxx20: 'Off'
          extra_settings: 'Off'
          flags: '/std:c++14 /WX'

        - win_ver: '2025'
          build_type: 'Release'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '/std:c++latest /WX'

        - win_ver: '2025'
          build_type: 'Debug'
          test_libcxx20: 'On'
          extra_settings: 'Off'
          flags: '/std:c++latest /WX'

    runs-on: windows-${{ matrix.win_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: choco install ninja
    - name: Build
      env:
        CXX: clang-cl
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
          -DMOMO_TEST_LIBCXX20=${{ matrix.test_libcxx20 }} `
          -DMOMO_TEST_EXTRA_SETTINGS=${{ matrix.extra_settings }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test.exe
