name: MSVC Clang

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

#        # Clang 18 with MSVC-like command-line
#        - win_ver: '2022'
#          build_type: 'Release'
#          test_libcxx_new: 'On'
#          flags: '/std:c++latest /WX'

        # Clang 20 with MSVC-like command-line
        - win_ver: '2025'
          build_type: 'Release'
          test_libcxx_new: 'Off'
          flags: '/std:c++14 /WX'

        - win_ver: '2025'
          build_type: 'Release'
          test_libcxx_new: 'On'
          flags: '/std:c++latest /WX'

        - win_ver: '2025'
          build_type: 'Debug'
          test_libcxx_new: 'On'
          flags: '/std:c++latest /WX'

    runs-on: windows-${{ matrix.win_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: choco install ninja
    - name: Build
      env:
        CXX: clang-cl
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
          -DMOMO_TEST_LIBCXX_NEW=${{ matrix.test_libcxx_new }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test.exe
