name: MSVC

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # Visual Studio 2022 x64
        - toolset: '14.4'
          arch: 'x64'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        - toolset: '14.4'
          arch: 'x64'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        - toolset: '14.4'
          arch: 'x64'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        - toolset: '14.4'
          arch: 'x64'
          build_type: 'Debug'
          no_exceptions_rtti: 'On'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        # Visual Studio 2022 x86
        - toolset: '14.4'
          arch: 'x64_x86'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        - toolset: '14.4'
          arch: 'x64_x86'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        - toolset: '14.4'
          arch: 'x64_x86'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        - toolset: '14.4'
          arch: 'x64_x86'
          build_type: 'Debug'
          no_exceptions_rtti: 'On'
          flags: '/std:c++latest /WX'
          win_ver: '2025'

        # Visual Studio 2022 ARM64
        - toolset: '14.4'
          arch: 'arm64'
          build_type: 'Release'
          no_exceptions_rtti: 'Off'
          flags: '/std:c++latest /WX'
          win_ver: '11-arm'

        - toolset: '14.4'
          arch: 'arm64'
          build_type: 'Release'
          no_exceptions_rtti: 'On'
          flags: '/std:c++latest /WX'
          win_ver: '11-arm'

        - toolset: '14.4'
          arch: 'arm64'
          build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          flags: '/std:c++latest /WX'
          win_ver: '11-arm'

        - toolset: '14.4'
          arch: 'arm64'
          build_type: 'Debug'
          no_exceptions_rtti: 'On'
          flags: '/std:c++latest /WX'
          win_ver: '11-arm'

    runs-on: windows-${{ matrix.win_ver }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Ninja
      if: matrix.win_ver == '11-arm'
      run: choco install ninja
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.arch }}
        toolset: ${{ matrix.toolset }}
    - name: Build
      env:
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
          -DMOMO_TEST_NO_EXCEPTIONS_RTTI=${{ matrix.no_exceptions_rtti }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test.exe
