name: Windows Clang

on:
  push:
    branches:
      - '**'

jobs:
  momo-test:
    strategy:
      matrix:
        include:

        # x64
#        - build_type: 'Release'
#          no_exceptions_rtti: 'Off'
#          extra_settings: 'Off'
#          flags: '-std=c++23 -Werror'
#
#        - build_type: 'Release'
#          no_exceptions_rtti: 'Off'
#          extra_settings: 'Off'
#          flags: '-std=c++26 -Werror'
#
#        - build_type: 'Debug'
#          no_exceptions_rtti: 'Off'
#          extra_settings: 'Off'
#          flags: '-std=c++26 -Werror'

        # x86
        - build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-m32 -std=c++23 -Werror'

        - build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-m32 -std=c++26 -Werror'

        - build_type: 'Debug'
          no_exceptions_rtti: 'Off'
          extra_settings: 'Off'
          flags: '-m32 -std=c++26 -Werror'

        - build_type: 'Release'
          no_exceptions_rtti: 'On'
          extra_settings: 'Off'
          flags: '-m32 -std=c++26 -Werror'

        - build_type: 'Release'
          no_exceptions_rtti: 'Off'
          extra_settings: 'On'
          flags: '-m32 -std=c++26 -Werror'

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
#    - name: Install Ninja
#      run: choco install ninja
    - name: Setup Clang
      uses: egor-tensin/setup-clang@v1
    - name: Build
      env:
        CXXFLAGS: ${{ matrix.flags }}
      run: |
        cd test
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
          -DMOMO_TEST_NO_EXCEPTIONS_RTTI=${{ matrix.no_exceptions_rtti }} `
          -DMOMO_TEST_EXTRA_SETTINGS=${{ matrix.extra_settings }}
        cmake --build . -v
    - name: Test
      run: test/build/momo_test.exe
